<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        container{
            margin: 300px;
            margin-top: 100px;
            padding: 10px;
        }
        row{

        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <h1><p id="nombreUsuario" name="nombreUsuario" type="text"><%=nombreUsuario%></p></h1>
        <form action="/api/actor/login" method="get">
            <button type="submit" class="btn btn-lg btn-block btn-primary">Salir</button>
        </form>
        <form action="/api/actor/menu" method="post">
            <button type="submit" class="btn btn-lg btn-block btn-primary">Gestionar Papa</button></a>
        </form>
    </div>
</div>