<h1>Formulario de Eliminar</h1>
<p>Eliminar trago.</p>
<form
        action="/api/traguito/eliminar"
        method="post"
>

    <label for="nombreId">Nombre</label>
    <input id="nombreId"
           name="nombre"
           type="text"
           value=
    >
    <br>


</form>