<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>W3Schools Online Web Tutorials</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        /* .css */
        /* selector { [propiedad:valor; propiedad:valor;}*/
        /* selector -> etiqueta */
        h1 {
            color:white;
            background-color:forestgreen;
            font-size: 30px;
        }
        h2,p {
            color:black;
            background-color:white;
        }
        div {
            color:green;
            background-color:white;
            font-size: 24px;
            font-weight: 100;

        }
        h3 {
            color:white;
            background-color:forestgreen;
            font-size: 20px;
        }
        .container {
            margin: 0px;
            padding: 10px;
        }

        table{
            width: 100%;
        }
        tr{
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-bottom-color: forestgreen;
        }
        td{
            color:black;
            background-color:white;
        }


    </style>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src="/../imagenes/Logo.png" />
        </div>
        <div class="col-dm-8">
            <h2>THE WORLD'S LARGEST WEB DEVELOPER SITE</h2>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-2">
            <h1>TUTORIALS</h1>
        </div>
        <div class="col-dm-2">
            <h1>REFERENCES</h1>
        </div>
        <div class="col-sm-2">
            <h1>EXAMPLES</h1>
        </div>
        <div class="col-dm-2">
            <h1>EXERCISES</h1>
        </div>
        <div class="col-sm-4">
           <h3><img src="/../imagenes/mundo.jpg" />
            <img src="/../imagenes/buscar.jpg" /></h3>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3">
            <br>
            <table>
                <h2>HTML and CSS</h2>
                <tr>
                    <td>Learn HTML</td>
                </tr>
                <tr>
                    <td>Learn CSS</td>
                </tr>
                <tr>
                    <td>Learn W3.CSS</td>
                </tr>
                <tr>
                    <td>Learn Colors</td>
                </tr>
            </table>
            <br>
            <table>
                <h2>JavaScript</h2>
                <tr>
                    <td>Learn JavaScript</td>
                </tr>
                <tr>
                    <td>Learn jQuery</td>
                </tr>
                <tr>
                    <td>Learn AngularJS</td>
                </tr>
                <tr>
                    <td>Learn JSON</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-5">
            <h2>HTML</h2>
            <p>
                The language for building web pages
            </p>
            <div class="row">
                <div class="col-sm-5">
                    <h1>LEAR HTML</h1>
                </div>
                <div class="col-sm-5">
                    <h1>HTML REFERENCE</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <table>
                <h2>HTML Example:</h2>
                <tr>
                    <td><p>< !DOCTYPE html><br>
                            < html><br>
                            < title>HTML Tutorial< /title><br>
                            < body><br>
                            < h1>This is a heading< /h1><br>
                            < p>This is a paragraph.< /p><br>
                            < /body><br>
                            < /html></p>
                    </td>
                </tr>

            </table>
        <br>
            <div class="row">
                <div class="col-sm-6">
                    <h1>Try it Yourself</h1>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>