<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estilos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        /* .css */
        /* selector { [propiedad:valor; propiedad:valor;}*/
        /* selector -> etiqueta */
        h1 {
            color:red;
            background-color:yellow;
        }
        p, div, h2 {
            color:green;
            background-color:orange;
            font-size: 24px;
            font-weight: 700;
        }

        p {
            color:orange;
            background-color:green;
        }
        p {
            color:blue;
            background-color:orange;
        }

        #adios{
            color:pink;
            background-color:purple;
        }

        .verde{
            color: greenyellow;
        }
        .azul{
            color:deepskyblue;
        }
        .morado{
            color: purple;
        }
        p.verde{
            color: orange;
        }

        p.verde.azul{
            color: black;
        }
        .separador{
            margin-top:200px

        }
    </style>

</head>
<body>

<br> <br><br>


<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <hi>LOGO</hi>
        </div>
        <div class="col-sm-7">
            <hi>MENU</hi>
        </div>
        <div class="col-sm-3">
            <hi>LOGIN</hi>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h1>Genero Peliculas</h1>
            <table>
                <tr>
                    <td>i</td>
                    <td>Accion</td>
                    <td>824</td>
                </tr>
                <tr>
                    <td>i</td>
                    <td>Animacion</td>
                    <td>356</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-9">
            <h1>Peliculas online</h1>
            <p>
                Pelisplus.co es un sitio ideal para ver peliculas
            </p>
            <div class="row">
                <div class="col-sm-6">Columna 1</div>
                <div class="col-sm-6">Columna 2</div>
            </div>
        </div>
    </div>
    <!--
        <div class="col-sm-6">sm6</div>
        <div class="col-sm-6">sm6</div>
        <div class="col-md-6">md6</div>
        <div class="col-md-6">md6</div>
        <div class="col-lg-6">lg6</div>
        <div class="col-lg-6">lg6</div>-->


    </div>

    <!--<div class="row">
        <div class="col-sm-12">
            <h1>COLUMNA 12</h1>
        </div>
        <div class="col-sm-6">
            <h1>COLUMNA 6</h1>
        </div>
        <div class="col-sm-6">
            <h1>COLUMNA 6</h1>
        </div>
    </div>-->
</div>
<div class="separador"></div>

<style>
    .separador{
        margin-top: 200px;
        margin-bottom: 180px;
    }
    table{
        width: 100%;
    }
    tr{
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: brown;
    }

</style>



    <h1>Hola</h1>
    <h1 id="adios" class="verde" style= "color:white; background-color: black">Adios</h1>
    <h1 class="verde">Bienvenidos</h1>
    <p>Barcelona</p>
    <div>Liga</div>
    <h2>Emelec</h2>
    <p class="morado verde azul">Hola mundo</p>
    <div class="verde">VERDE UNO</div>
    <p class="verde">VERDE DOS</p>
    <p class="verde azul">VERDE DOS</p>
    <style>
        p {
            color:red;
            background-color:blue;
        }
        .modelos-cajas{
            margin: 100px;
            border-color: brown;
            border-style: solid;
            border-width: 10px;
            border-right-width: 0px;
            padding: 10px;
        }
    </style>



</body>
</html>