<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Peliculas-Lista</title>
        <meta charset="UTF-8">
        <link rel="icon"
              href="/imagenes/gadget.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <!--header 1-6-->
    <h1> titulo1</h1>
    <h2>titulo2</h2>
    <h3>titulo3</h3>
    <h4>titulo4</h4>
    <h5>titulo5</h5>
    <h6>titulo6</h6>
    <!--parragrapg --> no se pone un parrafo dentro de otro parrafo (span)-->
    <p>Este es
        <span>Otro parrafo</span>
        mi parrafo</p>
    <!--Unorderer list -->
    <ul>
        <li>1</li>  <!-- list item -->
        <li>2</li>
    </ul>
    <!--ordered list -->
    <ol>
        <li>a</li> <!-- list item -->
        <li>b</li>
        <li>c</li>
    </ol>

    <!-- anchor/ancla -->
    <a href="http://www.google.com" target="_blank"></a>
          Google externo (blanc)
    <a href="http://www.google.com" target="_self"></a>
         Google aqui mismo (self)
    <a href="http://www.google.com"></a>
        Google aqui mismo (self)
    <!-- Imagen -->
    <img src="/imagenes/gadget.png"
         alt="inspector gadget">

    <!-- anchor/ancla -->
    <form action="">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text">
        <button>Enviar datos</button>
    </form>
    <label for ="fuera"> Fuera formulario</label>
    <input id="fuera" type="text">
    <button>Enviar datos fuera</button>

    </body>
</html>
asdasasdasda